<%# locals: (account:, url:) %>

<% if @error_message.present? %>
  <%= render DS::Alert.new(message: @error_message, variant: :error) %>
<% end %>

<%= styled_form_with model: account, url: url, scope: :account, data: { turbo: false }, class: "flex flex-col gap-4 justify-between grow text-primary" do |form| %>
  <div class="grow space-y-2">
    <%= form.hidden_field :accountable_type %>
    <%= form.hidden_field :return_to, value: params[:return_to] %>

    <%= form.text_field :name, placeholder: t(".name_placeholder"), required: "required", label: t(".name_label") %>

    <div class="form-field">
      <div class="form-field__body">
        <%= form.label :logo, t(".logo"), class: "form-field__label" %>
        <%= form.file_field :logo, class: "form-field__input" %>
      </div>
    </div>

    <%= form.text_field :fints_api_base_url, label: t(".fints_api_base_url_label"), placeholder: t(".fints_api_base_url_placeholder") %>

    <% unless account.linked? %>
      <%= form.money_field :balance, label: t(".balance"), required: true, default_currency: Current.family.currency %>
    <% end %>

    <%= yield form %>
  </div>

  <%= form.submit %>
<% end %>
