<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_header(title: "Python Script ausführen") %>
  <% dialog.with_body do %>
    <%= styled_form_with url: run_script_account_path(@account), method: :post, data: { turbo_frame: :modal }, class: "space-y-4" do |form| %>
      <%= form.text_field :procedure, label: "Verfahren" %>
      <%= form.text_field :device, label: "Gerät" %>
      <div class="flex justify-end">
        <%= form.submit "Run", class: "bg-inverse fg-inverse rounded-lg px-4 py-2" %>
      </div>
    <% end %>
  <% end %>
<% end %>
